.director-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

footer h5 {
    font-weight: bold;
    margin-bottom: 15px;
}

footer a {
    color: white;
    text-decoration: none;
}

.footer {
    background-color: #388E3C;
    color: white;
    padding: 40px 0;
    text-align: center;
}

footer a:hover {
    text-decoration: underline;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.bg-image {
    /* The image used */
    background-image: url("waste.jpg");

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.youtube-link {
    width: 80%;
    height: 20rem;
    margin-left: 20px;
}

/* Position text in the middle of the page/image */

.ranks {
    background-image: url("..//static/img/stones.jpg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    padding: 10px;
    margin-top: 2px;
    position: relative;
    height: 200px;
    z-index: 2;
    background-color: rgba(17, 206, 17, 0.5);
}

.rankDiv {
    position: relative;
    z-index: 3;
    /* background-color: rgb(0, 0, 0); */
    /* Fallback color */
    /* background-color: rgba(0, 0, 0, 0.4); */
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    text-align: center;

}

.nav-item:not(:last-child) {
    margin-right: 6px;
    /* Adjust the spacing as needed */
}
.navbar .nav-item .nav-link:hover{
    text-decoration: underline;
}
.navbar .nav-item .nav-link:active{
    font-weight: bolder;
}
footer .social-link{
    width: 24px;
     height: 24px; 
     margin: 5px;
     transition: transform 0.3s ease;
}
footer .social-link:hover{
    scale: 0.8;
}
/* This is for responsive  */
@media (max-width:770px) {
    .d-flex {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .youtube-link {
        width: 80%;
    }
}